.Minimap {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 400px;
    height: 850px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    image-rendering: pixelated;
}